@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #e7c3c3;
  text-align: center;
  margin-top: 50px;
}

.card {
  width: 350px;
  height: 420px;
  border: 3px solid #333;
  border-radius: 10px;
  background-color: white;
  margin: 0 auto 15px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border: 1px solid black;
}

.corner {
  position: absolute;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
}

.top-left {
  font-size: 95px;
  left: 10px;
  text-align: left;
}

.bottom-right {
  font-size: 95px;
  bottom: 3px;
  right: 10px;
  text-align: right;
  transform: rotate(180deg);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  font-weight: bold;
}

.red {
  color: red;
}

.black {
  color: black;
}

button {
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(113, 92, 99);
  color: black;
  border: none;
  border-radius: 5px;
}